<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <title>GitOps - 從 Git 出發</title>
    <link rel="shortcut icon" href="static/logo/32x32.png">
    <link href='static/style.css' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,600,700,900' rel='stylesheet' type='text/css'>
  </head>
  <body>
   <div class="large-container">
    <div id="welcome-name">
      <h1>[趨勢科技] GitOps - 從 Git 出發</h1>
      <div id="user-name" class="swing animated" style="display: block;">
        <pre><code>
          _____          ___                        ___           ___         ___          _____          ___                       ___     
          /  /::\        /  /\          ___         /  /\         /  /\       /  /\        /  /::\        /  /\          ___        /  /\    
         /  /:/\:\      /  /:/_        /__/\       /  /::\       /  /::\     /  /:/_      /  /:/\:\      /  /::\        /__/|      /  /:/_   
        /  /:/  \:\    /  /:/ /\       \  \:\     /  /:/\:\     /  /:/\:\   /  /:/ /\    /  /:/  \:\    /  /:/\:\      |  |:|     /  /:/ /\  
       /__/:/ \__\:|  /  /:/ /:/_       \  \:\   /  /:/  \:\   /  /:/~/:/  /  /:/ /::\  /__/:/ \__\:|  /  /:/~/::\     |  |:|    /  /:/ /::\ 
       \  \:\ /  /:/ /__/:/ /:/ /\  ___  \__\:\ /__/:/ \__\:\ /__/:/ /:/  /__/:/ /:/\:\ \  \:\ /  /:/ /__/:/ /:/\:\  __|__|:|   /__/:/ /:/\:\
        \  \:\  /:/  \  \:\/:/ /:/ /__/\ |  |:| \  \:\ /  /:/ \  \:\/:/   \  \:\/:/~/:/  \  \:\  /:/  \  \:\/:/__\/ /__/::::\   \  \:\/:/~/:/
         \  \:\/:/    \  \::/ /:/  \  \:\|  |:|  \  \:\  /:/   \  \::/     \  \::/ /:/    \  \:\/:/    \  \::/         ~\~~\:\   \  \::/ /:/ 
          \  \::/      \  \:\/:/    \  \:\__|:|   \  \:\/:/     \  \:\      \__\/ /:/      \  \::/      \  \:\           \  \:\   \__\/ /:/  
           \__\/        \  \::/      \__\::::/     \  \::/       \  \:\       /__/:/        \__\/        \  \:\           \__\/     /__/:/   
                         \__\/           ~~~~       \__\/         \__\/       \__\/                       \__\/                     \__\/    
      
      
              </code></pre>
      </div>
    </div>
  </div>
    <div class="container">
      <h2 style="text-align: center;">讓我們用 DevOps 的方法，交換 DevOps 的想法。</h2>

      <div id="compatriots">
        <ul class="compatriots-list">
          {% for message in messages %}
          <li>
            <span class="userdetail"><a href="https://www.github.com/{{ message.username }}" target="_blank">{{ message.display_name | truncate(20) }}</a></span>：
            <span class="userdate">「{{ message.message | truncate(100) }}」</span>
          </li>
          {% endfor %}
        </ul>
      </div>

      <script>
        var text = document.querySelector('#user-name code').innerHTML;text = text.replace(/:/g, '<span>:</span>');document.querySelector('#user-name code').innerHTML = text;
      </script>
    </div>
  </body>
</html>
